/* ============ 1. 공통 CSS ============ */
*{ padding: 0px; margin: 0px; } /* 1. 기본여백 제거 */
*{ box-sizing: border-box; } /* 2. 테두리까지 사이즈 계산 */
a{ text-decoration: none; color: black; } /* 3. a마크업 기본값 제거 */
li{ list-style-type: none;} /* 4. 글머리 제거 */

#header{
    display: flex; /*직계 하위요소만 레프트 라이트*/
    justify-content: space-between;
    align-items: center; /**/
    width: 1280px;
    margin: 0 auto;
    text-align: center;

}

#header .menu > ul{
    display: flex;
    justify-content: flex-end;
}

.top-menu >li{font-size: 12px; margin: 10px 3px ;}

.main-menu > li{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 30px 80px;

}
/* 대표 이미지 css*/
#main-img>img{
    width: 100%;
}

#main{
    width: 1280px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#main > .sidebar{width: 250px;}/* 왼쪽 */
#main > .content{ width: 1000px; display: flex; justify-content: space-between;}/* 오른쪽 */
#main > .content>.left-box, .right-box{width: 495px;}
/*-------------------- 본문 사이드바 css--------------*/

.sidebar>.title{
    background-color:#0ca9a2;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.sidebar>.comment{padding: 5px 0px; line-height: 150%;}/* 줄간격*/
.sidebar>.search>.input{
    padding: 5px;
    width: 180px;
    border-radius: 10px;
}
.sidebar>.search>.button{padding: 4px;}

.sidebar>.sub-title{
    border-top:2px solid black;
    border-bottom: 1px solid #eeeeee;
    margin-top: 30px;
    padding : 10px 0px;
}

.sidebar>.sub-menu> li{padding: 5px;}

/*------------------ 본문 게시판 ------------------------*/
.content .sub-title{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.content .board>li{
    display: flex; justify-content: space-between;
    padding: 7px 0px;
}

.content .board{margin-bottom: 50px;}

/* ============ 7. 본문-제방이미지 CSS ============ */
.right-box>.product-list{
    display: flex;
    flex-wrap: wrap;
}

.right-box > .product-list > .product{
    margin: 0px 50px 50px 0px;
}
#footer{
    background-color:#05344e ;
    color: white;
    padding: 20px 0px;
}

#footer > .footer-inner{
    width: 1280px;
    margin: 0 auto;
}

#footer > .footer-inner > .ftop-menu{
    display: flex;
    margin-bottom: 30px;
}
.ftop-menu>li{margin-right: 30px;}

#footer > .footer-inner > .fbottom-menu{
    display: flex;    justify-content: space-between;
    margin-bottom: 30px;
}
.fbottom-menu h3{ margin-bottom: 5px; }
.fbottom-menu > ul > li{ margin: 5px 0px; }