
body{
    text-align: center;
    
    display: flex;
    justify-content: center; /*flex요소들만 가로정렬*/

}

.제목{
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    margin: 25px;
    padding: 10px;

}
.이미지>img{
    width: 200px; 
    height: 200px;
    border-radius: 100px;
    margin: 20px 8px;

}

.btn{
    margin: 20px;
}
button{
    color: white;
    background-color: skyblue;
    border: none;
    width: 300px;
    padding: 20px 8px;
    margin: 10px 8px;
    border-radius: 10px;
    font-weight: bold;

}
.flexbox1{
    background-color: pink;
}