/* ============ 1. 공통 CSS ============ */
*{ padding: 0px; margin: 0px; } /* 1. 기본여백 제거 */
*{ box-sizing: border-box; } /* 2. 테두리까지 사이즈 계산 */
a{ text-decoration: none; color: black; } /* 3. a마크업 기본값 제거 */
li{ list-style-type: none;} /* 4. 글머리 제거 */

#header{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#header .menu> ul{
    display: flex;
    justify-self: flex-end;
}
.top-menu > li{
    font-size: 15px;
    margin: 30px 0px 30px 30px;}

.logo> img{width: 200px;}

#main-img{
    text-align: center;
}
#main-img>.img{
    width: 50%;
}
/* 메인 이미지 밑에 차례 ===============*/
#main-top{
    width: 1280px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}
#main-top> .content{
    display: flex;
    margin: 20px;
}

.content>img{
    margin-right: 30px;
}

#main-bottom{
    background-color: #eeeeee;
    margin: 30px auto;
    text-align: center;
    padding: 50px 0px;
    
}
.fourscreen{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.fourscreen ul li{text-align: left;}

.fourscreen ul img { width: 300px; }


#footer{background-color:#292c32 ; color: white;}

.footer-inner{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1280px;
    padding: 80px 0px;
}
.f3{
    margin-right: 20px;
}