h1{
    font-family: '궁서';
    font-style: italic;
}

p{
    font-family: '나눔고딕';
    font-weight: 1000;
    color: blue;
    font-size: 18px;
    word-spacing: 20px; /* 단어 간격 : 어간 */
    line-height: 150%;
    letter-spacing: 5px; /* 글자 간격 : 자간 */
}

h5{
    font-family: '맑은고딕';
    text-decoration: underline  overline  line-through;
    color: red;
    text-shadow: 2px 2px 2px gray ;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.hh{
    font-family: '맑은고딕';
    font-size: 30px;
    font-style: normal;
    color: red;
    text-decoration:underline overline line-through; 
    text-shadow: 2px 2px 2px gray ;
    font-weight: 700;
    text-align: center;
}
