.box{
    width: 100px; height: 100px;
    border: 1px solid red;
    background-color: yellow;
}

.box2{
    /*static : html 작성순서대로 배치 위치 변경 불가*/
    position: static; /*기본값(생략가능)*/
    left : 50px /*위치이동불가*/
}

.box3{
    /*본래 위치로부터 상대위치 위치변경가능 */
    position: relative;
    top: 50px; left: 200px;/*다른 요소와 겹칠 수 있다 */
}

.box4{
    /*가장 가까운 상위요소의 position 기준 절대 위치*/
    position: absolute;
    top: 50px; left: 200px;

}

.box5{
    position: fixed;
    top: 50px; left: 300px;
}
.parent{
    position: relative;
    border: 2px solid red;
}
.box6{
    position: absolute;
    top: 100px; left: 100px;
}

#header{
    display: flex;
    background-color:green;
    position: sticky;
    top: 0px;
    z-index: -5;
}