*{
    box-sizing: content-box; 
    font-family: 굴림,나눔고딕;
    font-size: 12px;
    padding: 0px; margin: 0px; /*전체여백제거*/
}
/* 공통 css 이면서 관례적인 기본 css */
/* a마크업 기본 css 제거 */
li{list-style-type: none;} /*글머리 제거*/

a{
    text-decoration: none;
    color: black;
}

/* -----------------작업용------------------------*/


#header{
    display: flex; /*직계 하위요소만 레프트 라이트*/
    justify-content: space-between;
    align-items: center; /**/
    width: 1280px;
    margin: 0 auto;

}


#header .topmenu{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;

}
#header .topmenu li a{
    margin-left: 10px;
    
}
#header .mainmenu{
    display: flex;
    margin: 25px 0px;
    justify-content: flex-end;
    
}

#header .mainmenu li a{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

#main-img>img{
    width: 100%;
}   
#main{
    display: flex;
    justify-content:space-between; 
    width: 1280px;
    margin: 20px auto;
    
}
/* 사이드바 */
#sidebar{
    width: 220px;
}
#sidebar > h3{
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 10px;
}
#sidebar>ol > li{
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}
/* 본문 */
#content{
    width: 1030px;
}

#content>h3{
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
/* 1. 이미지를 감싼구억 생성 2. 블록으로 사용 */
#content>img{
    display: block;
    margin: 0 auto;
}

#footer{
    background-color: #2c2c2c;
    color: white;
    padding: 15px 0px;
    
}

#footer-inner{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}
