span{
    color: blue;
    text-decoration: underline;
}

button{
    background-color: blue;
    color: white;
}

.login{
    box-sizing: border-box;
    border: pink;
    border-radius: 10px;
    margin: 0 auto; /* 해당 구역 가로 가운데*/
    text-align: center;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 5px 10px pink;
    
}

input{
    border-radius: 10px;
    border: solid 1px #D3D3D3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 180px;

}
button{
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
    margin-bottom: 30px;
}

.text1{
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}
